PORT=

MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

JWT_SECRET=
APP_DOMAIN=
CLOUD_NAME=

API_KEY=
API_SECRET=
ENABLE_CLOUDINARY=



mongodb+srv://kukushonka:*****@cluster0.yk4chk7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0/
